.modal {
  font-family: 'Lucida Grande', sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: white;
  padding: 30px;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin: 0;
  color: black;
}

.modal__close, .favorite-button {
  background: transparent;
  border: none;
}

.recipe-title {
  display: flex;
  align-items: center;
}

.favorite-button {
  margin: 1px;
  border: none;
}

.favorite-button:hover {
  cursor: pointer;
  background-color: #eddbc7;
}

.favorite-button {
  display: flex;
  align-items: center;
  /* outline-style: none; */
  border: #6E454C solid 2px;
  border-radius: 20px;
  margin-left: 15px;
}

.modal__header, .modal__close:before { 
  content: "\2715"; 
}

.modal__content {
  margin-top: 5px;
  color: rgba(0,0,0,.8);
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

table {
  border-collapse: collapse;
  border: #eddbc7 solid 1px;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  margin-top: 15px;
}

td, th {
  text-align: left;
  border: #eddbc7 solid 1px;
  padding: 8px;
}

.total-cost, .table-head {
  font-size: 20px;
  font-weight: 700;
}
.table-head {
  text-decoration: underline;
}

.total-cost {
  font-style: oblique;
}

li {
  line-height: 1.5;
}
