
html, body {
  margin: 0;
  padding: 0;
  color: #000100;
  font-family: 'Playfair Display', serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timer {
  color: #7B886F;
}

.time {
  display: flex;
  position: absolute;
  bottom:10px;
  left:15px;
  align-items: center;
  font-size: small;
}

header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  background-color: white;
  color: #F8333C;
  height: 100px;
  margin: 0;
}

.icon {
  font-size: 30px;
  color: #F18805;
  margin-right: 10px;
  border: 1px solid #F18805;
  padding: 3px;
  border-radius: 20px;
}

h1 {
  font-family: 'Gloock', serif;
  font-weight: light;
  display: flex;
  align-items: center;
  font-size: 33px;
}

.recipes {
  background-color: white;
  display: flex;
  overflow: auto;
  padding: 25px;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  row-gap: 60px;
}

img, figure {
  height: 200px;
  width: 220px;
  font-size: large;
  margin: 0;
  object-fit: cover;
  position: relative;
}

.customize-search {
  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: larger;
  background-color: #F18805;
  opacity: 80%;
  height: 65px;
}

.recipe-tag {
  font-family: 'Bebas Neue', cursive;
  color: #7B886F;
  font-size: 17px;
  margin-top: 3px;
  font-weight: light;
}

.recipe-title {
  margin:0;
}

.ignore-pointer-event {
  pointer-events: none;
}

figure:hover {
  opacity: 50%;
  cursor: pointer;
}

figcaption:hover {
  opacity: 50%;
  cursor: pointer;
}

img {
  opacity: 75%;
}

figure {
  padding: 30px;
  margin: 0;
  background-color:white;
  padding-bottom: 175px;
  box-shadow: 0px 0px 2px 2px #ccc;
}

figcaption {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

#currencyDropdown {
  margin-right: 20px;
}

form {
  display: flex;
  align-items: end;
  height: 35px;
  width: 190px;
}

select {
  width: 190px;
  height: 35px;
}

form input{
  padding-left: 5px;
  width: 80%;
  margin-right: 2%;
}

form button {
  width: 18%;
}

form label{
  display: flex;
  align-items: center;
  width: auto;
}

button {
  font-family: 'Lucida Grande', sans-serif;
  background-color: white;
  border: none;
  border-radius: 4px;
  color: #F18805;
}

.show-faves {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 35px;
  font-size: 15px;
  border-radius: 4px;
  margin-left: 15px;
}

button:hover:not(.favorite-button), input:hover, select:hover {
  background-color:#f9f5e7;
  cursor: pointer;
}

input, select {
  font-family: 'Lucida Grande', sans-serif;
  background-color: white;
  border: #F18805 1px solid;
  border-radius: 4px;
  color: black;
  height: 31px;
}

select {
  height: 35px;
}

.full-heart {
  font-variation-settings:
  'FILL' 1,
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #7B886F;
}

@media only screen and (max-width: 815px) {
  .customize-search {
    flex-wrap: wrap;
  }
  .show-faves{
    font-size: medium;
  }
  .explore-label {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .customize-search {
    height: 100px;
  }
  .explore-label {
    display: none;
  }
}

.hidden {
  display: none;
}
