html, body {
  margin: 0;
  padding: 0;
  color: #6E454C;
  font-family: 'Lucida Grande', sans-serif;
}

.full-heart {
  font-variation-settings:
  'FILL' 1,
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: #f8ead8;
  height: 80px;
  margin: 0;
  border-bottom: #eddbc7 5px solid;
}

.recipes {
  display: flex;
  overflow: auto;
  padding: 25px;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  row-gap: 60px;
}

img, figure {
  height: 180px;
  width: 180px;
  font-size: smaller;
  margin: 0;
  border-radius: 4px;
  object-fit: cover;
}

footer {
  flex-shrink: 0;
  height: 80px;
  background-color: #f8ead8;
  display: flex;
  gap: 5%;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  justify-content: space-evenly;
  border-top: #eddbc7 5px solid;
}

.ignore-pointer-event {
  pointer-events: none;
}

figure:hover {
  opacity: 50%;
  cursor: pointer;
}

figcaption:hover {
  opacity: 50%;
  cursor: pointer;
}

img {
  border-bottom: #6E454C solid 5px;
}

figcaption {
  text-align: center;
}

form {
  display: flex;
  align-items: stretch;
  height: 35px;
  width: 190px;
}

select {
  width: 190px;
  height: 35px;
}

form input{
  padding-left: 5px;
  width: 80%;
  margin-right: 2%;
}

form button {
  width: 18%;
}

form label{
  display: flex;
  align-items: center;
  width: auto;
}

button {
  font-family: 'Lucida Grande', sans-serif;
  background-color: #eddbc7;
  border: none;
  color: #6E454C;
  border-radius: 4px;
}

.show-faves {
  width: 190px;
  height: 35px;
  font-size: larger;
  border-radius: 4px;
}

button:hover:not(.favorite-button), input:hover, select:hover {
  background-color: #f9f5e7;
  cursor: pointer;
}

input, select {
  font-family: 'Lucida Grande', sans-serif;
  background-color: #f9f5e7;
  border: #6E454C 1px solid;
  border-radius: 4px;
  color: #6E454C;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eddbc7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #6E454C;
}

@media only screen and (max-width: 800px) {
  footer {
    height: 120px;
    flex-wrap: wrap;
  }
  .show-faves{
    font-size: medium;
  }
}

@media only screen and (max-width: 450px) {
  footer {
    height: 200px;
    flex-direction: column;
  }
}
